div.top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: black;
    /*border: 2px solid #4CAF50;*/
    height:170px;
    z-index:2
  }
  body{
    background-color:rgb(40, 40, 40);
  }
  
    a.a1:hover {color:#8b0f06;} 
    a.a1:active {color:#0000FF;}
    a.a1{color:rgb(3,230,151);}
  
  div.first{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
  }
  #mbti{
    font-size: 25px;
    color: white;
  }
  a#mbti:hover {color:#8b0f06;} 
  .daohang {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    height: 75px;
    margin: auto;
    background-color:rgb(21, 21, 21);
    border:2px solid rgb(3,230,151);
    position: sticky;
    margin-top: 0;
    z-index:3
    
  }
ul {
    list-style: none;
}

li {
    float: left;
}

.a1 {
    text-decoration: none;
    display: block;
    width: 300px;
    height: 75px;
    text-align: center;
    line-height: 75px;
    color: black;
    font-size: 30px;
    position: sticky;
}
* {
    margin: 0;
    padding: 0;
}